<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:notesApp.db</property>
        -->


        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/notesappdb</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>


        <!--
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/testapp</property>
        <property name="connection.username">root</property>
        <property name="connection.password">helloworld</property>
        -->

        <property name="show_sql">true</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- <property name="dialect">org.hibernate.dialect.SQLiteDialect</property> -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <!-- <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property> -->

        <mapping class="com.alastairappleton.entity.Note" />
        <mapping class="com.alastairappleton.entity.Colour" />
        <mapping class="com.alastairappleton.entity.Category" />


    </session-factory>
</hibernate-configuration>